@charset"utf-8";

body {
	margin: 0;
}

.container {
	margin: 0 auto 0 auto;
	width: 1000px;
}

section .container {
    display: flex;
    flex-flow: column;
}

.header-inner {
	padding: 10px 10px 0 10px;
	background: #bad7f5;
}

.nav-inner {
	color: #fff;
	background: #0086f9;
	padding: 10px 10px 0 10px;
}

.main-inner {
	background: #fffde3;
	height: 400px;
	padding: 20px 10px 20px 10px;
    height: 400px;
}

.sidebar {
	background: #c0f5b9;
	padding: 20px 10px 20px 10px;
}

.footer-inner {
	background: #bad7f5;
	padding: 20px 16px 10px 16px;
}

nav {
	margin-bottom: 20px;
}

footer {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    section .container {
        flex-flow: row;
    }
    main {
        flex: 1 1 auto;
    }
    .sidebar {
        flex: 0 0 340px;
    }
}
